DTD and Specifications/yelp_reivews.dtd

<!ENTITY name "yelp_reviews_1.1">

<!ELEMENT FOOD ( #PCDATA ) >

<!ELEMENT ANAPHORA ( #PCDATA ) >

<!ELEMENT QUALITY ( #PCDATA ) >
<!ATTLIST QUALITY type ( positive | negative | neutral ) #REQUIRED>

<!ELEMENT PART_OF EMPTY >

<!ELEMENT OPINION EMPTY >
<!ATTLIST OPINION relationship ( explicit | implicit ) #REQUIRED>

<!ELEMENT COREFERENCE EMPTY >
